body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.categorias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.categoria {
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.categoria a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.categoria:hover {
    transform: translateY(-5px);
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    transition: transform 0.2s;
}

.icon:hover {
    transform: translateY(-5px);
}

.icon i {
    font-size: 1.5em;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.cuadros {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    padding: 20px;
    background-color: #ffffff;
}

.cuadro {
    border: 1px none #ccc;
    padding: 20px;
    position: relative;
    text-align: center;
    width: 100%;
    height: 400px;
    background-size: cover;
    background-position: center;
    transition: transform 0.3s ease;
    overflow: hidden; /* Para ocultar cualquier desbordamiento de la imagen */
}

.cuadro img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none; /* Eliminar cualquier borde alrededor de la imagen */
}

.cuadro:hover {
    transform: translateY(-10px);
}

.cuadro a {
    display: inline-block;
    padding: 10px 20px;
    background-color: #333;
    color: white;
    text-decoration: none;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    transition: transform 0.3s ease;
}

.cuadro a:hover {
    transform: scale(1.1);
}

footer {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.categorias-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoria-footer {
    text-align: left;
    padding: 5px 0;
}

.copyright {
    text-align: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .categorias {
        display: none;
    }
    .cuadros {
        grid-template-columns: 1fr;
    }
}

/* Estilos específicos para la página de camisas */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.categorias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.categoria {
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.categoria a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.categoria:hover {
    transform: translateY(-5px);
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #ffffff; /* Color hover (blanco) */
}

main {
    display: flex;
    flex-wrap: wrap; /* Ajusta los productos en filas y columnas */
    justify-content: center; /* Centra los elementos */
    align-items: flex-start; /* Alinea al inicio */
    padding: 20px;
    background-color: #ffffff;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada producto */
    max-width: 300px; /* Ancho máximo */
    text-align: center;
}

.producto img {
    width: 100%; /* Imágenes ocupan el 100% del contenedor */
    max-width: 250px; /* Ancho máximo de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto-info {
    flex: 1;
    text-align: center;
}

.producto-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.producto-info p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

footer {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.categorias-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoria-footer {
    text-align: left;
    padding: 5px 0;
}

.copyright {
    text-align: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .categorias {
        display: none;
    }

    .producto {
        width: calc(50% - 20px); /* Dos productos por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%; /* Un producto por fila en pantallas muy pequeñas */
    }
}

/* Estilos específicos para la página de pantalones */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.categorias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.categoria {
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.categoria a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.categoria:hover {
    transform: translateY(-5px);
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #ffffff; /* Color hover (blanco) */
}

main {
    display: flex;
    flex-wrap: wrap; /* Ajusta los productos en filas y columnas */
    justify-content: center; /* Centra los elementos */
    align-items: flex-start; /* Alinea al inicio */
    padding: 20px;
    background-color: #ffffff;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada producto */
    max-width: 300px; /* Ancho máximo */
    text-align: center;
}

.producto img {
    width: 100%; /* Imágenes ocupan el 100% del contenedor */
    max-width: 250px; /* Ancho máximo de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto-info {
    flex: 1;
    text-align: center;
}

.producto-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.producto-info p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

footer {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.categorias-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoria-footer {
    text-align: left;
    padding: 5px 0;
}

.copyright {
    text-align: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .categorias {
        display: none;
    }

    .producto {
        width: calc(50% - 20px); /* Dos productos por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%; /* Un producto por fila en pantallas muy pequeñas */
    }
}

/* Estilos específicos para la página de zapatos */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.categorias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.categoria {
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.categoria a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.categoria:hover {
    transform: translateY(-5px);
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #ffffff; /* Color hover (blanco) */
}

main {
    display: flex;
    flex-wrap: wrap; /* Ajusta los productos en filas y columnas */
    justify-content: center; /* Centra los elementos */
    align-items: flex-start; /* Alinea al inicio */
    padding: 20px;
    background-color: #ffffff;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada producto */
    max-width: 300px; /* Ancho máximo */
    text-align: center;
}

.producto img {
    width: 100%; /* Imágenes ocupan el 100% del contenedor */
    max-width: 250px; /* Ancho máximo de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto-info {
    flex: 1;
    text-align: center;
}

.producto-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.producto-info p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

footer {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.categorias-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoria-footer {
    text-align: left;
    padding: 5px 0;
}

.copyright {
    text-align: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .categorias {
        display: none;
    }

    .producto {
        width: calc(50% - 20px); /* Dos productos por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%; /* Un producto por fila en pantallas muy pequeñas */
    }
}

/* Estilos específicos para la página de accesorios */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.categorias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.categoria {
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.categoria a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.categoria:hover {
    transform: translateY(-5px);
}

.icons {
    display: flex;
    align-items: center;
}

.icon {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
    margin-left: 20px;
    transition: color 0.3s ease;
}

.icon:hover {
    color: #ffffff; /* Color hover (blanco) */
}

main {
    display: flex;
    flex-wrap: wrap; /* Ajusta los productos en filas y columnas */
    justify-content: center; /* Centra los elementos */
    align-items: flex-start; /* Alinea al inicio */
    padding: 20px;
    background-color: #ffffff;
}

.producto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    margin: 10px;
    width: calc(33.33% - 20px); /* Ajusta el ancho de cada producto */
    max-width: 300px; /* Ancho máximo */
    text-align: center;
}

.producto img {
    width: 100%; /* Imágenes ocupan el 100% del contenedor */
    max-width: 250px; /* Ancho máximo de las imágenes */
    height: auto; /* Altura automática para mantener la proporción */
    margin-bottom: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.producto-info {
    flex: 1;
    text-align: center;
}

.producto-info h2 {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 1.5em;
}

.producto-info p {
    margin: 0;
    margin-bottom: 10px;
    font-size: 1.2em;
}

footer {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.categorias-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoria-footer {
    text-align: left;
    padding: 5px 0;
}

.copyright {
    text-align: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .categorias {
        display: none;
    }

    .producto {
        width: calc(50% - 20px); /* Dos productos por fila en pantallas pequeñas */
    }
}

@media (max-width: 480px) {
    .producto {
        width: 100%; /* Un producto por fila en pantallas muy pequeñas */
    }
}

/* Estilos específicos para la página de sobre nosotros */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.categorias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.categoria {
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.categoria a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.categoria:hover {
    transform: translateY(-5px);
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    transition: transform 0.2s;
}

.icon:hover {
    transform: translateY(-5px);
}

.icon i {
    font-size: 1.5em;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.nosotros {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: none;
}

.nosotros img {
    width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: none;
}

.nosotros h2 {
    margin-top: 0;
    font-size: 2em;
}

.nosotros p {
    margin-bottom: 10px;
    font-size: 1.2em;
}

footer {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: top;
}

.categorias-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoria-footer {
    text-align: left;
    padding: 5px 0;
}

.copyright {
    text-align: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .categorias {
        display: none;
    }
}

/* Estilos específicos para la página de contacto */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    width: 100%;
    background-color: #000000;
    color: white;
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    margin-right: 10px;
}

.categorias {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-left: 20px;
}

.categoria {
    position: relative;
    color: white;
    text-align: center;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    transition: transform 0.3s ease;
}

.categoria a {
    color: white;
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
}

.categoria:hover {
    transform: translateY(-5px);
}

.icons {
    display: flex;
    align-items: center;
    margin-left: auto;
    color: white;
}

.icon {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fff;
    padding: 10px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-left: 10px;
    transition: transform 0.2s;
}

.icon:hover {
    transform: translateY(-5px);
}

.icon i {
    font-size: 1.5em;
    color: #000;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    width: 100%;
    text-align: center;
    padding: 20px;
    background-color: #ffffff;
}

.about-section {
    width: 100%;
    max-width: 800px;
    padding: 20px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: none;
}

.about-section h2 {
    margin-top: 0;
    font-size: 2em;
}

.about-section p {
    margin-bottom: 10px;
    font-size: 1.2em;
}

footer {
    background-color: #000000;
    color: white;
    text-align: left;
    padding: 10px 20px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: auto;
}

.categorias-footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.categoria-footer {
    text-align: left;
    padding: 5px 0;
}

.copyright {
    text-align: center;
    margin-left: auto;
}

@media (max-width: 768px) {
    .categorias {
        display: none;
    }
}
